@model IEnumerable<WeddingCardModel>
@{
    ViewData["title"] = "Danh sách đặt tiệc";
}
<h3>Danh sách Đặt tiệc</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Mã đơn</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Ngày đặt </th>
            <th scope="col">Ngày nhận hàng</th>
            <th scope="col">Số lượng thiệp</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Loại thiệp</th>
            <th scope="col">Ghi chú</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Thao tác</th>

        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            var i = 1;
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.OrderCode</td>
                    <td>@item.LastName @item.FirstName</td>
                    <td>@item.OrderDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.ReceiveDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.Quantity</td>
                    <td>@item.Total.ToString("N0")</td>
                    <td>@item.AddressReceived</td>
                    <td>@item.PhoneNumber</td>
                    <td>
                        @if (@item.CardModel != null)
                        {
                            <p>@item.CardModel.Name</p>
                        }
                    </td>
                    <td width="100">@Html.Raw(@item.Note)</td>
                    <td>
                        @if (@item.Status == false)
                        {
                            <span class="text text-success">Chưa duyệt</span>
                        }
                        else
                        {
                            <span class="text text-success">Đã duyệt</span>
                        }
                    </td>
                    <td>
                        <a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="OrderCard" asp-route-Id="@item.Id">Xoá</a>
                        <a asp-action="Inspect" class="btn btn-success btn-sm " asp-controller="OrderCard" asp-route-Id="@item.Id">Duyệt</a>
                    </td>
                </tr>
                i++;

            }
        }
        
    </tbody>
</table>
