<!-- Single@using PhanThiHoaiAnh_223DATN_DVTC.Models.Views -->
@model IEnumerable<CartItemModel>
@{
    ViewData["title"] = "Đặt hàng";
    Layout = "_Template";
}

<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container">
        <h1 class="mb-4">Chi tiết thanh toán</h1>
        <form asp-action="Checkout" asp-controller="Cart">
        <div class="row g-5">
            
                <div class="col-md-12 col-lg-6 col-xl-7">
                    
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100 delivery-info">
                                <label class="form-label my-3">Họ<sup>*</sup></label>
                                <input type="text" name="LName" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100 delivery-info">
                                <label class="form-label my-3">Tên người nhận<sup>*</sup></label>
                                <input type="text" name="FName" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-item delivery-info">
                        <label class="form-label my-3">Địa chỉ <sup>*</sup></label>
                        <input type="text" name="Address" class="form-control" placeholder="số nhà,xã/phường/thị trấn,huyện/quận,tỉnh/TP">
                    </div>
                    <div class="form-item delivery-info">
                        <label class="form-label my-3">Số điện thoại<sup>*</sup></label>
                        <input type="text" name="PhoneNumber" class="form-control">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Ngày Khách hàng nhận dịch vụ<a href="#"></a><sup>*</sup></label>
                        <input type="datetime" name="OrgDate" class="form-control" placeholder="dd/mm/yyyy">
                    </div>
                    <div class="form-item mgt">
                        <textarea name="text" name="Note" class="form-control" spellcheck="false" cols="15" rows="6" placeholder="Ghi chú"></textarea>
                    </div>
                    <div>
                        <div class="row g-4 text-center pt-4">
                            <button type="submit" class="btn btn-primary" asp-controller="Cart" asp-action="Checkout">Đặt hàng</button>
                        </div>
                            <div id="paypal-button-container"></div>
                    </div>
                </div>
            <div class="col-md-12 col-lg-6 col-xl-5">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Đơn giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="py-5">@item.ServiceName</td>
                                    <td class="py-5">@item.Price.ToString("N0") đ</td>
                                    <td class="py-5">@item.Quantity</td>
                                    <td class="py-5">@item.Total.ToString("N0")</td>
                                </tr>

                            }
                            <tr>
                                <th scope="row">
                                </th>
                                <td></td>
                                <td class="py-5">
                                    <p class="mb-0 text-dark py-3">Tổng tiền</p>
                                </td>
                                <td class="py-5">
                                    <div class="py-3 border-bottom border-top">
                                        <p class="mb-0 text-dark">@Model.Sum(x => x.Total).ToString("N0") đ</p>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                        <div id="paypal-button-container"></div>
                </div>

            </div>
        </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://www.paypal.com/sdk/js?client-id=@ViewBag.PaypalClientid"></script>
    <script>
        $(document).ready(function () {
            $("#GiongKhachHang").change(function () {
                if ($(this).prop("checked")) {
                    $(this).val(true);
                    $(".delivery-info").css("display", "none");
                } else {
                    $(this).val(false);
                    $(".delivery-info").css("display", "block");
                }
            });
        });
        paypal.Buttons({
            createOrder:() {
                return fetch("/Cart/create-paypal-order", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    }
                });
            },
            onApprove: function (data, action) {
                return action.order.capture().then(function (response) {
                    console.log(response);
                    if (response?.status === "COMPLETED") {
                        $('#paypal-order-id').value(response.id);
                    }
                })
            },
            style: {
                disableMaxWidth: true
            },
        }).render('#paypal-button-container');
    </script>

}