@model IEnumerable<AppUserModel>
@{
    ViewData["title"] = "Danh sách khách hàng";
}
<h3>Danh sách khách hàng</h3>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Email</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Địa chỉ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>#</td>
                <td scope="row">@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Gender</td>
                <td>@item.Birthday</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Address</td>
                <td>
                    <a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="AccountList" asp-route-Id="@item.Id">Xóa</a>
                </td>
            </tr>
        }

    </tbody>
</table>
