@model IEnumerable<AppUserModel>
@{
    ViewData["title"] = "Danh sách User";
}
<h3>Danh sách Người dùng</h3>
<a asp-action="Create" asp-controller="Account">Thêm mới </a>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th scope="col">Họ</th>
            <th scope="col">Tên</th>
            <th scope="col">Email</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@item.LName</td>
                <td scope="row">@item.FName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Address</td>
                <td>
                    <a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="Account" asp-route-Id="@item.Id">Xóa</a>
                    <a asp-action="Edit" class="btn btn-warning btn-sm confirmDeletion" asp-controller="Account" asp-route-Id="@item.Id">Sửa</a>
                </td>
            </tr>
        }

    </tbody>
</table>
