@model IEnumerable<DatTiecModel>
@{
    ViewData["title"] = "Danh sách đặt hàng";
}
<h3>Danh sách đơn hàng</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Ngày tổ chức</th>
            <th scope="col">Ngày đặt </th>
            <th scope="col">Số bàn tiệc</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Thực đơn</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Tiền cọc</th>
            <th scope="col">VAT 10%</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Hình thức TT</th>
            <th scope="col">Thao tác</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.LtName @item.FtName</td>
                <td>@item.OrderOrg.ToString("dd/MM/yyyyy")</td>
                <td>@item.OrderDate.ToString("dd/MM/yyyyy")</td>
                <td>@item.Quantity</td>
                <td>@item.Address</td>
                <td>@item.ServiceName</td>
                <td>@item.Total.ToString("##,###")</td>
                <td>@item.Deposit.ToString("##,###")</td>
                <td>@item.Pay.ToString("##,###")</td>
                <td>
                    @if (@item.Status == 0)
                    {
                        <span class="text text-success">Chưa đặt cọc</span>
                    }
                    else @if (@item.Status == 1)
                    {
                        <span class="text text-success">Đã đặt cọc</span>
                    }
                    else @if (@item.Status == 2)
                    {
                        <span class="text text-success">Đang diễn ra</span>
                    }
                    else @if (@item.Status == 3)
                    {
                        <span class="text text-success">Đã hoàn thành</span>
                    }
                    else @if (@item.Status == 4)
                    {
                        <span class="text text-success">Đã thanh toán</span>
                    }
                    else @if (@item.Status == 5)
                    {
                        <span class="text text-success">Đã hủy đơn</span>
                    }
                </td>
                <td>@item.Payment</td>
                <td>
                    <a asp-action="Update" class="btn btn-warning btn-sm" asp-controller="Order" asp-route-Id="@item.Id" style="width:65px">Cập nhật</a>
                    <a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="Order" asp-route-Id="@item.Id" style="width:65px">Xóa</a>
                    <a asp-action="Detail" class="btn btn-success btn-sm " asp-controller="Order" asp-route-Id="@item.Id" style="width:65px">Hóa đơn</a>
                </td>
            </tr>

        }

    </tbody>
</table>
